extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main 
    .container.my-3 
        .row 
            .col-12 
                +box-head("Danh sách phòng")
        
        .row.mb-3 
            .col-12 
                a(
                    href="/rooms-chat/create"
                    class="btn btn-sm btn-success mr-1"
                ) Tạo phòng chat
        
        .row
            each item in roomsChat    
                .col-6 
                    div(class="box-room")
                        div(class="inner-avatar")
                            img(
                                src="https://robohash.org/66.249.68.67.png"
                                alt=item.title
                            )
                        div(class="inner-info")
                            div(class="inner-name") #{item.title}
                            div(class="inner-butotns")
                                a(
                                    href=`/chat/${item.id}`
                                    class="btn btn-sm btn-primary mr-1"
                                ) Nhắn tin