extends ../../layouts/default.pug
include ../../mixins/alert.pug
include ../../mixins/moment.pug

block main 
    if (role.permissions.includes('roles_view'))
        +alert-success(5000)
        +alert-error(5000)

        h1(class="mb-4") Nhóm quyền

        .card.mb-3 
            .card-header Danh sách 
            .card-body 
                if (role.permissions.includes('roles_create'))
                    .row 
                        .col-8 
                        .col-4.text-right 
                            a(
                                href=`${prefixAdmin}/roles/create`
                                class="btn btn-outline-success"
                            ) + Thêm mới

                table(
                    class="table table-hover table-sm mt-3"
                )
                    thead 
                        tr 
                            th STT 
                            th Nhóm quyền
                            th Mô tả ngắn 
                            th Hành động
                            th Người tạo 
                            th Cập nhật bởi
                    tbody 
                        if (records.length > 0)
                            each item, index in records
                                tr 
                                    td #{index + 1}
                                    td #{item.title}
                                    td !{item.description}
                                    td
                                        a(
                                            class="btn btn-secondary btn-sm"
                                            href=`${prefixAdmin}/roles/detail/${item.id}`
                                        ) Chi tiết
                                        if (role.permissions.includes('roles_edit'))
                                            a(
                                                class="btn btn-warning btn-sm ml-1"
                                                href=`${prefixAdmin}/roles/edit/${item.id}`
                                            ) Sửa
                                        if (role.permissions.includes('roles_delete'))
                                            button(
                                                class="btn btn-danger btn-sm ml-1"
                                                button-delete
                                                data-id=item.id
                                            ) Xóa
                                    td
                                        each account in accounts 
                                            //- p #{account.fullName}
                                            if (item.createdBy.account_id == account.id)
                                                p #{account.fullName}
                                                +format-dateTime(item.createdBy.createdAt)
                                    td
                                        if item.updatedBy.length > 0
                                            //- p #{item.updatedBy[item.updatedBy.length-1].account_id}
                                            each account in accounts 
                                                if (item.updatedBy[item.updatedBy.length-1].account_id == account.id)
                                                    p #{account.fullName}
                                                    +format-dateTime(item.updatedBy[item.updatedBy.length-1].updatedAt)

                        else 
                            tr 
                                td(colspan="4" class="text-center") Chưa có nhóm quyền nào được tạo
        form(
            action=""
            data-path=`${prefixAdmin}/roles/delete`
            method="POST"
            form-delete-role
        )
                    
        script(src="/admin/js/roles.js") 
    else 
        h1 Bạn không có quyền truy cập vào nhóm quyền