mixin table-tree(items, level = 1)
    each item, index in items
        - const prefix = Array(level + 1).join("-- ")
        tr
            td 
                input(
                    type="checkbox"
                    name="id"
                    value=item.id
                )
            td #{item.index}
            if (item.thumbnail)
                td
                    img(src=item.thumbnail 
                        alt=item.title
                        width="100px" 
                        height="auto")
            if (item.title)
                td #{prefix}#{item.title}
            if (item.position)
                td 
                    input(
                        type="number"
                        value=item.position 
                        style="width: 60px"
                        min="1"
                        name="position"
                    )
            if role.permissions.includes('article-category_edit')
                td
                    if (item.status == "active")
                        a(
                            href="javascript:;" 
                            data-status="active"
                            data-id=item.id
                            button-change-status
                            class="badge badge-success") Hoạt động
                    else 
                        a(
                            href="javascript:;"
                            data-status="inactive"
                            data-id=item.id
                            button-change-status
                            class="badge badge-danger") Dừng hoạt động
                    form(
                        action=''
                        method="POST"
                        form-change-status
                        data-path=`${prefixAdmin}/article-category/change-status`
                    )
            else
                td  
                    if (item.status == "active")
                        span(
                            class="badge badge-success"
                        ) Hoạt động
                    else 
                        span(
                            class="badge badge-danger"
                        ) Dừng hoạt động
            td
                a(
                    href=`${prefixAdmin}/article-category/detail/${item.id}`
                    class="btn btn-secondary btn-sm"
                ) Chi tiết
                if (role.permissions.includes('article-category_edit'))
                    a(
                        href=`${prefixAdmin}/article-category/edit/${item.id}`
                        class="btn btn-warning btn-sm ml-1"
                    ) Sửa
                if (role.permissions.includes('article-category_delete'))
                    button(
                        class="btn btn-danger btn-sm ml-1"
                        button-delete 
                        data-id=item.id
                    ) Xóa
                form(
                    form-delete-item
                    action=''
                    method="POST"
                    data-path=`${prefixAdmin}/article-category/delete`
                )
            if (item.createdBy)
                td 
                    p #{item.createdAccount.fullName}
                    +format-dateTime(item.createdBy.createdAt)
            if (item.updatedBy.length > 0)
                td
                    p #{item.updatedAccount.fullName} 
                    +format-dateTime(item.updatedBy[item.updatedBy.length-1].updatedAt)
                   

        if item.children && item.children.length > 0
            +table-tree(item.children, level + 1)
    
            