mixin form-change-multi(path, prefix)
    form(
        action=path
        method="POST"
        form-change-multi
    )
        .d-flex.align-items-start
            .form-group
                select(
                    name="type"
                    class="form-control"
                )
                    option(disabled selected) --Chọn hành động--
                    if role.permissions.includes(`${prefix}_edit`)
                        option(value="active") Hoạt động
                        option(value="inactive") Dừng hoạt động
                    if (role.permissions.some(role => role.endsWith(`${prefix}_delete`)))
                        option(value="delete-all") Xóa tất cả
                    if prefix == "products" || prefix == "product-category"
                        option(value="change-position") Thay đổi vị trí
                    if prefix == "deleted-products"
                        option(value="restore-all") Khôi phục tất cả
            .form-group
                input(
                    type="text" 
                    name="ids" 
                    value=""
                    class="form-control d-none")
            button(
                class="btn btn-primary"
                type="submit"
                ) Áp dụng