extends ../../layouts/default.pug
include ../../mixins/alert.pug
include ../../mixins/select-tree.pug

block main
    h1.mb-3 Tạo danh mục bài viết
    +alert-error(5000)

    form(
        action=`${prefixAdmin}/article-category/create`
        method="POST"
    )
        div(class="form-group")
            label(for="title") Tiêu đề *
            input(
                class="form-control"
                type="text"
                name="title"
                id="title"
            )
        div(class="form-group")
            label(for="parent_id") Danh mục cha
            select(
                name="parent_id"
                id="parent_id"
                class="form-control"
            )
                option(value="" disabled selected) -- Chọn danh mục cha --
                    if (records)
                        +select-tree(records)
            //- input(
            //-     class="form-control"
            //-     type="text"
            //-     name="parent_id"
            //-     id="parent_id"
            //- )
        div(class="form-group")
            label(for="description") Mô tả *
            textarea(
                class="form-control textarea-mce"
                name="description"
                id="description"
                rows="5"
            )
        div(class="form-check form-check-inline form-group")
            input(
                type="radio"
                name="status"
                value="active"
                id="statusActive"
                class="form-check-input"
                checked
            ) 
            label(for="statusActive" class="form-check-label") Hoạt động
        div(class="form-check form-check-inline form-group")
            input(
                type="radio"
                name="status"
                value="inactive"
                id="statusInactive"
                class="form-check-input"
            ) 
            label(for="statusInactive" class="form-check-label") Dừng hoạt động

        div(class="form-group") 
            button(
                class="btn btn-primary"
                type="submit"
            ) Tạo mới
