extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main 
    .container.my-3 
        include ../../partials/list-btn-user.pug

        .row.my-2  
            .col-12
                +box-head("Danh sách bạn bè")
        
        .row(data-users-friend=user.id)
            each item in users
                .col-6(user-id=item.id)
                    div(class="box-user")
                        div(class="inner-avatar")
                            img(
                                src="https://vnn-imgs-f.vgcloud.vn/2020/03/23/11/trend-avatar-12.jpg"
                                alt="Le Van A"
                            )
                        div(class="inner-info")
                            div(class="inner-name") #{item.fullName} 
                            div(class="inner-buttons") 
                                a(
                                    class="btn btn-sm btn-primary mr-1"
                                    href=`/chat/${item.roomChatId}`
                                ) Nhắn tin
                                button(
                                    class="btn btn-sm btn-secondary mr-1"
                                    btn-remove-friend=item.id
                                ) Hủy kết bạn
                                button(
                                    class="btn btn-sm btn-success mr-1"
                                    disabled
                                    btn-not-friend=item.id
                                ) Not Bạn Bè
                        div(
                            class="inner-status"
                            status=(item.statusOnline ? item.statusOnline : "offline")
                        ) 
                            i.fa-solid.fa-circle

block script 
    script(src="/js/users.js")
    
